[submodule "FAST_LIO_ROS2"]
	path = FAST_LIO_ROS2
	url = https://github.com/rento120162/FAST_LIO_ROS2.git
[submodule "lidar_localization_ros2"]
	path = lidar_localization_ros2
	url = https://github.com/rsasaki0109/lidar_localization_ros2.git
[submodule "livox_ros_driver2"]
	path = livox_ros_driver2
	url = https://github.com/Ericsii/livox_ros_driver2.git
[submodule "ndt_omp_ros2"]
	path = ndt_omp_ros2
	url = https://github.com/rsasaki0109/ndt_omp_ros2.git
[submodule "obstacle_cloud_to_scan"]
	path = obstacle_cloud_to_scan
	url = https://github.com/AbudoriLab-TC2024/obstacle_cloud_to_scan.git
[submodule "unitree_ros2"]
	path = unitree_ros2
	url = https://github.com/rento120162/unitree_ros2.git
[submodule "micro_ros/micro_ros_setup"]
	path = micro_ros/micro_ros_setup
	url = https://github.com/micro-ROS/micro_ros_setup.git
	branch = humble
[submodule "micro_ros/uros/micro-ROS-Agent"]
	path = micro_ros/uros/micro-ROS-Agent
	url = https://github.com/micro-ROS/micro-ROS-Agent.git
	branch = humble
[submodule "micro_ros/uros/micro_ros_msgs"]
	path = micro_ros/uros/micro_ros_msgs
	url = https://github.com/micro-ROS/micro_ros_msgs.git
	branch = humble
[submodule "ROS-TCP-Endpoint"]
	path = ROS-TCP-Endpoint
	url = https://github.com/Unity-Technologies/ROS-TCP-Endpoint.git
	branch = main-ros2
